In [1]:
import numpy as np
import pandas as pd

In [2]:
# Daftar path file .npy
npy_paths = ["QSLR2024/dev_info.npy", "QSLR2024/test_info.npy", "QSLR2024/train_info.npy"]

# List untuk menyimpan DataFrame dari setiap file
dfs = []

In [3]:
# Memproses setiap file .npy
for npy_path in npy_paths:
    # Membaca file .npy (dictionary)
    data = np.load(npy_path, allow_pickle=True).item()
    # Mengubah data menjadi DataFrame, kecuali baris pertama (indeks 0)
    df = pd.DataFrame([value for i, value in enumerate(data.values()) if i != 0])
    # Menambahkan DataFrame ke list
    dfs.append(df)

In [4]:
# Menggabungkan semua DataFrame menjadi satu
df_combined = pd.concat(dfs, ignore_index=True)
df_combined.head()

,fileid,folder,signer,label,num_frames,original_info
0,112_alikhlas_1_2_3,dev/112_alikhlas_1_2_3/*.jpg,signer-1,a llā hu ṣṣa ma d,155,112_alikhlas_1_2_3|112_alikhlas_1_2_3/*.jpg|si...
1,112_alikhlas_1_2_6,dev/112_alikhlas_1_2_6/*.jpg,signer-1,a llā hu ṣṣa ma d,161,112_alikhlas_1_2_6|112_alikhlas_1_2_6/*.jpg|si...
2,112_alikhlas_1_2_8,dev/112_alikhlas_1_2_8/*.jpg,signer-1,a llā hu ṣṣa ma d,149,112_alikhlas_1_2_8|112_alikhlas_1_2_8/*.jpg|si...
3,112_alikhlas_1_3_1,dev/112_alikhlas_1_3_1/*.jpg,signer-1,la m ya li d wa la m yū la d,259,112_alikhlas_1_3_1|112_alikhlas_1_3_1/*.jpg|si...
4,112_alikhlas_1_3_10,dev/112_alikhlas_1_3_10/*.jpg,signer-1,la m ya li d wa la m yū la d,232,112_alikhlas_1_3_10|112_alikhlas_1_3_10/*.jpg|...

In [5]:
df_combined.shape

(361, 6)

In [6]:
df_combined['surah'] = df_combined['fileid'].str.split("_").str[1]
df_combined['ayat'] = df_combined['fileid'].str.split("_").str[3]

In [7]:
df_combined.head()

,fileid,folder,signer,label,num_frames,original_info,surah,ayat
0,112_alikhlas_1_2_3,dev/112_alikhlas_1_2_3/*.jpg,signer-1,a llā hu ṣṣa ma d,155,112_alikhlas_1_2_3|112_alikhlas_1_2_3/*.jpg|si...,alikhlas,2
1,112_alikhlas_1_2_6,dev/112_alikhlas_1_2_6/*.jpg,signer-1,a llā hu ṣṣa ma d,161,112_alikhlas_1_2_6|112_alikhlas_1_2_6/*.jpg|si...,alikhlas,2
2,112_alikhlas_1_2_8,dev/112_alikhlas_1_2_8/*.jpg,signer-1,a llā hu ṣṣa ma d,149,112_alikhlas_1_2_8|112_alikhlas_1_2_8/*.jpg|si...,alikhlas,2
3,112_alikhlas_1_3_1,dev/112_alikhlas_1_3_1/*.jpg,signer-1,la m ya li d wa la m yū la d,259,112_alikhlas_1_3_1|112_alikhlas_1_3_1/*.jpg|si...,alikhlas,3
4,112_alikhlas_1_3_10,dev/112_alikhlas_1_3_10/*.jpg,signer-1,la m ya li d wa la m yū la d,232,112_alikhlas_1_3_10|112_alikhlas_1_3_10/*.jpg|...,alikhlas,3

In [8]:
# Menyimpan DataFrame ke file CSV
df_combined.to_csv('QSLR2024/info.csv', index=False)

In [10]:
df_clean = df_combined[['signer','surah','ayat','label', 'num_frames']]
df_clean.head()

     signer     surah ayat                         label  num_frames
0  signer-1  alikhlas    2             a llā hu ṣṣa ma d         155
1  signer-1  alikhlas    2             a llā hu ṣṣa ma d         161
2  signer-1  alikhlas    2             a llā hu ṣṣa ma d         149
3  signer-1  alikhlas    3  la m ya li d wa la m yū la d         259
4  signer-1  alikhlas    3  la m ya li d wa la m yū la d         232

In [12]:
df_group = df_clean.groupby(['signer', 'surah', 'ayat', 'label'], as_index=False)['num_frames'].mean()
df_group['num_frames'] = df_group['num_frames'].round().astype(int)
df_group.head()

,signer,surah,ayat,label,num_frames
0,signer-1,alfatihah,1,bi s mi allā hi rra ḥ mā ni rra ḥī m,326
1,signer-1,alfatihah,2,al ḥa m du li llā hi ra bbi l 'ā la mī n,422
2,signer-1,alfatihah,3,a rra ḥ mā ni rra ḥī m,209
3,signer-1,alfatihah,4,mā li ki ya u mi ddī n,214
4,signer-1,alfatihah,5,i yyā ka na ' bu du wa i yyā ka na s ta 'ī n,471

In [13]:
df_group.to_csv('QSLR2024/frame_info.csv', index=False)

In [14]:
df_group.shape

(36, 5)